{% extends "admin:admin/base_site.html" %}

{%load static%}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'for Seppia web' %}
{% endblock title%}

{% block branding %}

    <style type="text/css">

    #container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }

    a.section:link, a.section:visited {
        color: #6c847c;
    }

    .module caption, .inline-group h2 {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(200,246,255,1) 0%, rgba(255,255,255,1) 0%, rgba(226,250,255,1) 40%, rgba(171,241,255,1) 100%, rgba(108,230,255,1) 100%);
    }

    #content > h1:nth-child(1){
        visibility: hidden;
    }

    div.breadcrumbs {
        padding: 10px 30px;
        display: none;
    }

    #table-container{border:none;}

    a:link, a:visited, td{
        font-size: 14px !important;
    }

    #changelist-form .results{
        font-size: 12px;
    }

    #header
    {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(200,246,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,10,51,1) 0%, rgba(111,141,251,1) 100%, rgba(171,241,255,1) 100%, rgba(108,230,255,1) 100%);
        display: block;
    }

    #branding h1{
        margin: unset;
        padding-top: 11px;
    }

    #user-tools > a:nth-child(2){
        border: 2px solid white;
        background-color: #ff5608;
        border-radius: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }

    #user-tools > a:nth-child(2):hover{
        background-color: #ffb809;
        color: blue;
    }

    #content-related .module h2{
        color: white;
    }

    #content-related .module{
        /*background-color: cadetblue;*/
        background-color: currentColor;
    }



    #changelist-filter
    {
        border-width: 1px !important;
        border-color: #205493 !important;
    }

    #button_0
    {
        background-color: #93d7ff;
    }

    #result_list{

    }

    a:link, a:visited, td{
        font-size: 1.5em;
    }

    #user-tools{
        float: left;
        position: relative;
        left: auto;
        padding-top: 3px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0px;
        margin-left: 35px;
    }

    #user-tools a {
        border: none;
    }

    div#user-tools#text{
        font-weight: 400;
        font-size: 1.5em;
    }

    .object-tools li{
        position: relative;
        height: auto;
        line-height: 30px;
        font-size: 2em;
        display: block;
        float: left;
     }

    .object-tools a:link, .object-tools a:visited {
        display: block;
        float: left;
        padding: 3px 12px;
        background: #153799;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #fff;
    }

    tbody td a.addlink{font-size: 1em !important;}
    tbody td a.changelink{font-size: 1em !important;}

    </style>
    <h1 id="site-name">{% trans 'ADsPy - Manager' %}</h1>

{% endblock branding%}

{% block nav-global %}
{% endblock nav-global%}

{% block javascript %}
{% endblock javascript %}