{% extends "admin:admin/change_form.html" %}
{% load i18n %}
{% load i18n admin_urls %}

{% block branding %}

 <style type="text/css">

     #changelist-filter
    {
        border-width: 1px !important;
        border-color: #205493 !important;
    }

    #button_0
    {
        background-color: #93d7ff;
    }

    #result_list{

    }

    a:link, a:visited, td{
        font-size: 1.5em;
    }

    #user-tools{
        float: left;
        position: relative;
        left: auto;
        padding-top: 3px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0px;
        margin-left: 35px;
    }

    #user-tools a {
        border: none;
    }

    div#user-tools#text{
        font-weight: 400;
        font-size: 1.5em;
    }

    .object-tools li{
        position: relative;
        height: auto;
        line-height: 30px;
        font-size: 2em;
        display: block;
        float: left;
     }

    .object-tools a:link, .object-tools a:visited {
        display: block;
        float: left;
        padding: 3px 12px;
        background: #153799;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #fff;
    }

        .form-row.field-slug{
            display: none;
        }

        #table-container{
            margin-left: -20px;
            padding-left: 0px;
            width: 300px;
            margin-right: 0px;
        }

        #header{
            background-color: #1f356e;
        }

        td {
            padding-left: 5px;
            padding-bottom: unset;
            padding-top: unset;
            vertical-align: unset;
        }

        table{
            border:none;
            border-collapse: collapse;
        }

        table td{font-size: 13px;}

        #content {
            padding: 40px 100px;
        }

        #user-tools{
            font-size: 1em;
        }

        #mysearch_form > div > fieldset > div.form-row.field-result_field > div > label{
            display: none;
        }
        #id_result_field{
            display: none;
        }

         #content-main > ul > li:nth-child(2) > a{display:none}


    </style>
{% endblock branding %}

{% block object-tools-items %}

    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    <li>
        <a href="mylink/" class="historylink">My Link</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>

        </li>
    {% endif %}
{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <div id="table-container">{{ location_list|safe }}</div>
    <script>
        function fillTargetContainer(myId) {
            var button = document.getElementById(myId);
            document.getElementById("id_latandlong").value = button.value;
        }
    </script>
{% endblock %}

{% block after_field_sets %}
{% endblock %}


{% block submit_buttons_bottom %}
    <div class="submit-row">
    <input style="background-color: darkseagreen" type="button" name="change-list" value="modify list">
    <input type="submit" value="Salva" class="default" name="_save">
    <input type="submit" value="Salva e aggiungi un altro" name="_addanother">
    <input type="submit" value="Salva e continua le modifiche" name="_continue">
    </div>
{% endblock %}

