<!DOCTYPE html>
<html lang="it">
{%load static%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />

    <title>{%block head_title%}ADsPy - ADs Monitor in Python{%endblock head_title%}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    {%block branding%}
    {%endblock branding%}

</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b>ADsPy - menu</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/"><b style="color: #007bff;;">Home</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/admin"><b style="color: darkgreen">User Control Panel</b></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b style="color: #205493;">Quick Links</b>
        </a>
        <div style="border-width: 2px; border-color: #205493" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/ADsPy_checker/mysearch/"><b style="color: #112E51;">Manage Searches</b></a>
            <a class="dropdown-item" href="/admin/logout/"><b style="color: red;">Logout</b></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
        {%block content%}
        {%endblock content%}
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascript %}{% endblock %}

    <script>
        var arrayAds;
        arrayAds = document.getElementsByTagName("td");
        for (var i=0; i<arrayAds.length; i++) {
	        if (arrayAds[i].innerHTML == "ADS A" | arrayAds[i].innerHTML == "True" | arrayAds[i].innerHTML == "0") {
		        arrayAds[i].setAttribute("style", "font-weight: 650; color: #38291F");
            }
        }

        var arrayRow;
        arrayRow = document.getElementsByTagName("tr");
        for (var j=0; j<arrayRow.length; j++){
            var htmlString = arrayRow[j].innerHTML;
            if (htmlString.includes("<h3>")){
                arrayRow[j].setAttribute("style", "background-color: grey; color: darkgrey");
                var myLink = arrayRow[j].getElementsByTagName("a");
                var myAdsText = arrayRow[j].getElementsByTagName("td");
                for (var k=0; k<myLink.length; k++){
                    myLink[k].setAttribute("style", "color: #7898bb");
                }
                for (var w=0; w<myAdsText.length; w++){
                    if (myAdsText[w].innerHTML == "ADS A" | myAdsText[w].innerHTML == "True" | myAdsText[w].innerHTML == "0") {
                        myAdsText[w].setAttribute("style", "font-weight: 650; color: #806d61");
                    }
                }

            }
        }

        function autoStart(){

            // ajax call in js
            var pathname = window.location.pathname;
            console.log(pathname)
            var xhttpreq = new XMLHttpRequest();
            var getString = "gimmeBaseDir=True";
            // open the request
            xhttpreq.open("GET", pathname + "?" + getString);
            xhttpreq.onload = function() {// success check (between 200 and 299)
                    if (xhttpreq.status >= 200 && xhttpreq.status < 300 && xhttpreq.responseText !== "merda") {
                        var my_switch = true;
                        // hidePresenceAtKm(my_switch, xhttpreq, xhttpreq.status, xhttpreq.responseText)
                        // highligh();
                    }
                    else {
                        console.log("merda secca", xhttpreq.status);
                    }};
            xhttpreq.send(JSON.stringify({message: getString}));
            }

        function getIndicator() {
            setInterval(function(){
                var pathname = window.location.pathname;
                var divIndicator = document.querySelectorAll(".indicatore");
                var idboxClass = document.querySelectorAll(".id_box")
                // call ajax per indicatore
                var xhr = new XMLHttpRequest();
                var dataString = "checkStart=True";
                xhr.open("GET", pathname + "?" + dataString);
                xhr.onload = function() {// success check (between 200 and 299)
                    if (xhr.status >= 200 && xhr.status < 300) {
                        console.log(xhr.status);
                        for (i = 0; i < divIndicator.length; i++){
                            console.log(divIndicator[i].id);
                            if(xhr.responseText.includes(divIndicator[i].id)){
                            divIndicator[i].innerHTML = xhr.responseText;}
                        }
                    }
                    else {
                        console.log("something went wrong", xhr.status);
                    }};
                    xhr.send(JSON.stringify({message: dataString}));
            }, 5000)
        }

        window.addEventListener('load', autoStart);
        window.addEventListener('load', getIndicator);
    </script>

</body>
</html>