{%extends "base.html"%}
    {%block branding%}
        <style>
            @media only screen and (max-width: 1199px) {#sidebar{display:none;}}
            .wrapper {display: flex; align-items: stretch; float: right;}
            .modifica_ricerca{
                display: inline;
            }
            .post_form{
                display: inline;
            }
            .indicatore{
                display: inline;
                width: 150px;
            }
            .green_image{
                width: 150px;
            }
            .red_image{
                width: 150px;
            }
            #download_button{background-color: #def9c7;}
            #download_button:hover{
                background-color: #efefee !important;
                -webkit-transition: background-color 500ms linear !important;
                -ms-transition: background-color 500ms linear !important;
                transition: background-color 500ms linear !important;
            }
            #sidebar {min-width: 250px; max-width: 250px; background: #385b38; color: #fff; transition: all 0.3s;}
            #sidebar.active {margin-left: -250px;}
            a[data-toggle="collapse"] {position: relative;}
            .dropdown-toggle::after {display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
            body > div > div:nth-child(3) > div:nth-child(6) > table{font-size: 0.89em;}
            #sidebar .sidebar-header {padding: 20px; background: #0e5223; white-space: unset;}
            #sidebar ul.components {border-bottom: 1px solid #295b3e; margin-left: 15px;}
            #sidebar ul p {color: #fff; padding: 10px;}
            #sidebar ul li a {padding: 10px; font-size: 1.1em; display: block;}
            #sidebar ul li a:hover {color: #295b3e; background: #fff;}
            #sidebar ul li.active > a, a[aria-expanded="true"] {white-space: unset !important; color: #fff; background:#385b38; white-space: nowrap;}
            table.dataframe.result_table{font-size: 0.89em;}
            .bg-light{border-bottom: 2px solid #0e5223;}
        </style>
    {%endblock branding%}

    {%block content%}
    <div class="wrapper">
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Links to Queries</h3>
        </div>
        <ul class="list-unstyled components">
            {%for element in object_list%}
            <li class="active"><a href="/{{element.id}}/{{element.slug}}">{{element.my_search_query}} || {{element.latandlong}}</a></li> <!--there's need to create a sort of df with performed or enqueued researches-->
            {%endfor%}
        </ul>
    </div>
    </div>

    <div>
        {%for element in object_list%}
        <a href="{{element.get_url}}"><h1>{{element.my_search_query}}</h1></a>
        <form class="post_form" action="{{''}}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{element.find_post_id}}" name="idbox" class="id_box" size="1" />
            <input type="hidden" value="{{element.my_search_query}}" name="textbox" size="1" />
            <input type="submit" class="btn" value="launch search" name="bottone_prova" />
            <input type="submit" id="download_button" class="btn" value="download .csv" name="bottone_download" />
        </form>
        <form class="modifica_ricerca" action="http://127.0.0.1:8000/admin/ADsPy_checker/mysearch/{{element.find_post_id}}/change/">
        <input class="btn" type="submit" value="modifica ricerca" />
</form>
        <!-- qui div per loading bar, bottone stop n go -->
        <div class="indicatore" id="{{element.find_post_id}}">
            <img class="green_image" src="/media/green.gif" style=""/>
            <img class="red_image" src="/media/red.gif" style="display: none"/>
        </div>
        <!-- fine indicatore-->

        <h2>Geolocalizzazione di riferimento: <span class="geo-title">{{element.latandlong}}</span></h2>
            <h3>Data e ora: {{element.timestamp_now}}</h3>
            </br>
            {%if element.display_df%}
                <div>{{element.display_df|safe|truncatewords_html:150}}</div>
                </br>
                </br>
            {%endif%}
        {%endfor%}
    </div>

    <div class="pagination">
            <span class="step-links">
                {%if page_obj.has_previous%}
                    <a href="?page={{page_obj.previous_page_number}}">previous</a>
                {%endif%}

                {%if page_obj.has_next%}
                    <a href="?page={{page_obj.next_page_number}}">next</a>
                {%endif%}
            </span>
    </div>

    <script>

    </script>
    {%endblock content%}

{%block javascript%}
{%endblock javascript%}

