{%extends "base.html"%}
    {%block content%}
    <div class="wrapper">
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            {%for element in object_list%}
                <li class="active">{{element.my_search_query}} || {{element.latandlong}}</li> <!--there's need to create a sort of df with performed or enqueued researches-->
            {%endfor%}
        </ul>
    </div>
    </div>

    <div>
        {%for element in object_list%}
        <a href="{{element.get_url}}"><h1>{{element.my_search_query}}</h1></a>
        <form action="{{''}}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{element.find_post_id}}" name="idbox" size="1" />
            <input type="hidden" value="{{element.my_search_query}}" name="textbox" size="1" />
            <input type="submit" class="btn" value="launch search" name="bottone_prova" />
        </form>

<!--__________________________________________________________________________________________-->
    <form>
    <label for="chkPassport">
    <input type="checkbox" id="chkPassport" />Remove Presence at kms</label>
    <hr />
    <div id="dvPassport" style="display: none">Passport Number:
        <input type="text" id="txtPassportNumber" />
    </div>
    </form>
<!--__________________________________________________________________________________________-->



        <h2>Geolocalizzazione di riferimento: <span class="geo-title">{{element.latandlong}}</span></h2>
            <h3>Data e ora: {{element.timestamp_now}}</h3>
            </br>
            {%if element.display_df%}
                <div>{{element.display_df|safe|truncatewords_html:150}}</div>
            {%endif%}
        {%endfor%}
    </div>

    <div class="pagination">
            <span class="step-links">
                {%if page_obj.has_previous%}
                    <a href="?page={{page_obj.previous_page_number}}">previous</a>
                {%endif%}

                {%if page_obj.has_next%}
                    <a href="?page={{page_obj.next_page_number}}">next</a>
                {%endif%}
            </span>
    </div>
    {%endblock content%}

{%block javascript%}
{%endblock javascript%}

