{%extends "base.html"%}
    {%block content%}
    {%for item in object_list%}
        {% if object_list|last == item.find_post_id %}
            <h1>{{item.my_search_query}}</h1>
            <h2>{{item.timestamp_now}}</h2>
            <h4>{{item.latandlong}}</h4>
            <form action="{{''}}" method="post" id="{{item.id}}-{{item.slug}}">
                <div class="form-group">
                {% csrf_token %}
                <input type="hidden" value="{{item.find_post_id}}" name="idbox" size="1" />
                <input type="hidden" value="{{item.my_search_query}}" name="textbox" size="1" />
                <input type="submit" class="btn" value="launch search" name="bottone-richiesta" />
                    {% if object_list|slice:"-1" == check_stop %}
                        <input type="hidden" value="stop" name="stop_button" id="stop_button" />
                    {%else%}
                    {% endif %}
                </div>
            </form>

            <form action="{{''}}" method="get">
                 <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                 <label for="setStartTime">
                     <input class="form-control" type="text" id="setStartTime" placeholder="dd/mm/yyyy hh:mm"></label>
                 <label for="setEndTime">
                     <input class="form-control" type="text" id="setEndTime" placeholder="dd/mm/yyyy hh:mm"></label>
                 </label>`
                <!--<label for="filterDate">
                <input class="btn" type="button" name="filterDate" value="filter date" id="filterDate" /></label>-->
                 </div>
            </form>

            <form action="{{''}}" method="get">
                <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="removePresence">
                <input class="checkbox" type="checkbox" name="removePresence" id="removePresence" />Remove Presence at kms</label>
                <label for="removeQuery">
                <input class = checkbox type="checkbox" name="removeQuery" id="removeQuery" />Remove Query</label>
                <label for="submit">
                <input class="btn" type="button" name="submit" value="drop column(s) and row(s)" id="submit" /></label>
                </div>
            </form>



            </br>
            <div class="table-box" id="table-container">{{item.display_df|safe}}</div>
        {%endif%}
    {%endfor%}

    {%block javascript%}
    <script>
        function highligh() {
            var arrayAds;
        arrayAds = document.getElementsByTagName("td");
        for (var i=0; i<arrayAds.length; i++) {
	        if (arrayAds[i].innerHTML == "ADS A" | arrayAds[i].innerHTML == "True" | arrayAds[i].innerHTML == "0") {
		        arrayAds[i].setAttribute("style", "font-weight: 650; color: #38291F");
            }
        }

        var arrayRow;
        arrayRow = document.getElementsByTagName("tr");
        for (var j=0; j<arrayRow.length; j++){
            var htmlString = arrayRow[j].innerHTML;
            if (htmlString.includes("<h3>")){
                arrayRow[j].setAttribute("style", "background-color: grey; color: darkgrey");
                var myLink = arrayRow[j].getElementsByTagName("a");
                var myAdsText = arrayRow[j].getElementsByTagName("td");
                for (var k=0; k<myLink.length; k++){
                    myLink[k].setAttribute("style", "color: #7898bb");
                }
                for (var w=0; w<myAdsText.length; w++){
                    if (myAdsText[w].innerHTML == "ADS A" | myAdsText[w].innerHTML == "True" | myAdsText[w].innerHTML == "0") {
                        myAdsText[w].setAttribute("style", "font-weight: 650; color: #806d61");
                    }
                }

            }
        }
        }
        // event listener
        var btn = document.getElementById("submit");
        var pathname = window.location.pathname;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onclick = function() {
        if (xmlhttp.readyState === XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
           if (xmlhttp.status === 200) {
           }
           else if (xmlhttp.status === 400) {
              alert('There was an error 400');
           }
           else {
              alert('something else other than 200 was returned');
           }
        }
    };

    xmlhttp.open("GET", pathname, true);
    xmlhttp.send();

        btn.addEventListener("click", function(){

            var getString = "?no_presence=0&no_query=0&start=0&end=0";

            var box_start = document.getElementById("setStartTime");
            var box_end = document.getElementById("setEndTime");

            var reStart = /\d\d\/\d\d\/\d\d\d\d/;
            var myStringStart = box_start.value;

            if (reStart.exec(myStringStart)){
                 var startDate = reStart.exec(myStringStart)[0];
                console.log(startDate);
                getString = getString.replace("start=0", "start=" + startDate);
            }
            else {
                if (box_start.value){
                    alert("insert a valid date in start field");
                }
                console.log("value not conformed", reStart.exec(myStringStart));
            }

            var reEnd = /\d\d\/\d\d\/\d\d\d\d/;
            var myStringEnd = box_end.value;
            if (reEnd.exec(myStringEnd)){
                 var endDate = reEnd.exec(myStringEnd)[0];
                console.log(endDate);
                getString = getString.replace("end=0", "end=" + endDate);
            }
            else {
                if (box_end.value){
                    alert("insert a valid date in end field");
                }
                console.log("value not conformed", reEnd.exec(myStringEnd));
            }

            var btn_check_1 = document.getElementById("removePresence");
            if (btn_check_1.checked === true){
                getString = getString.replace("no_presence=0", "&no_presence=1")
            }
            else {getString = getString.replace("no_presence=1", "&no_presence=0")}

            var btn_check_2 = document.getElementById("removeQuery");
            if (btn_check_2.checked === true){
                getString = getString.replace("no_query=0", "no_query=1")
            }
            else {getString = getString.replace("no_query=1", "&no_query=0")}

            var xhr = new XMLHttpRequest();

            xhr.open("GET", pathname + "select.html" + getString);
            xhr.onload = function () {

                // success check (between 200 and 299)
                if (xhr.status >= 200 && xhr.status < 300 && xhr.responseText !== "merda") {
                    var my_switch = true;
                    hidePresenceAtKm(my_switch, xhr, xhr.status, xhr.responseText)
                    highligh();
                }
                else {
                    console.log("merda secca", xhr.status);
                }
            };
            //xhr.send(encodeURI(pathname));
            xhr.send(JSON.stringify({message: getString}));
        });

        // inserire questo nel base.html una volta completo
        function hidePresenceAtKm(my_switch, xhr, status, text) {
            //console.log("check point");
            //console.log(status, xhr);
            if (my_switch === true){
                document.getElementById("table-container").innerHTML = text;
            }
        }
        // end function
    </script>
    {%endblock javascript%}
    {%endblock content%}
